/*generic theme*/
html, body{
   padding: 0;
   margin: 0;
   vertical-align: baseline;
   display: block;
   height: 100%;
   
}
h1{
	font-size: 3em;
}
h2{
	font-size: 2em;
}
h2.home-modal{
	padding:10px;

}
p.call{
	padding-left:10px;
}
a{
	color:#000;
}
body {
	background-color: #CCCCCC;
	
	margin: 0;
	padding:0;
	border:0;
	display: block;
	height:100%;
	vertical-align: baseline;
	
	/*top:-25px; /* I keep getting space above the body and can't override it. Temporary fix..*/
}

div.navbar-top{

}

#wrapper{
	height:auto;
	max-width:100%;
	margin:0;
	padding:0;
	min-height: 100%;
}

section.header{
	margin:0;
	padding:0 5px;
	width:100%;
	background-color: #070707;

}
.header h1{
	padding:0;
	margin: 0;
	border: 0;
	font-family: "Helvetica Bold", Helvetica, Arial, sans-serif;
	font-weight: bold;
}
.header h1 a {
	text-decoration: none;
	color:#FFFFFF;
}
#pageContent{
	width:700px;
	background:#fff;
	margin:0 auto;
	margin-top:20px;
	padding:10px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */

}



.popular{
	border: 2px #E0E0E0 solid;
	padding:5px;
	margin:20px;
	border-radius: 3px;
}
div#empty-space{
   height:20px; /* Same height as footer */
}
.footer{
	clear:both;
	background-color: #000000;
	width:100%;
	vertical-align: top;
	display: block;
	height:20px;
}
.footer ul{
	list-style-type: none;
}
.footer ul li{
	display: inline;
	
}
.footer ul li a{
	color:#FFFFFF;